# Azure Cosmos DB
COSMOS_DB_ENDPOINT=
COSMOS_DB_KEY=
COSMOS_DB_DATABASE=bms-tracker

# Azure Communication Services (for email alerts)
AZURE_COMMUNICATION_ENDPOINT=
AZURE_SENDER_EMAIL=DoNotReply@your-domain.com
